# Change port if already in use
# PORT = 3000

# Your MongoDB url here
# MONGODB_URI= mongodb+srv://job_portal_user:<db_password>@cluster0.pfkzenq.mongodb.net/?appName=Cluster0

# Enter your cloudinary details here
# CLOUDINARY_NAME = 
# CLOUDINARY_API_KEY =
# CLOUDINARY_API_SECRET =